In [ ]:
""" functions r of 2 typees input and output  and print is an output fun"""
print("hare krishna")

hare krishna

In [ ]:
# multiline print
print("""hey radhe
hare rama
rama rama hare hare""")

hey radhe
hare rama
rama rama hare hare

In [ ]:
###commments are of 2 types singleline(#) and multiline(""" """)
 ###comments which the interpreter ignores during execution
# hey radhe

**variables`**

int a1,b1 # declaton    


= assignment operator




a1=10 # intializaion

In [ ]:
int a1,b1 # declaton
a1=10 # intializaion

**variables rules**

properly define


do not start with numbers ans special symbol


use capital when to highlight special variable (higher priorities given to varible)

In [ ]:
num1=1
num2=2
sum=num1+num2
print("sum of 2 numbers is ",sum)

sum of 2 numbers is  3

**identifier**

give rules to variables

**keywords**

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import numpy as np
import pandas as pd
len(keyword.kwlist)

35

# github per leetcode contain karo streks banao

**operators** in **py**  (to perform operations)

Arthmetic operator  +,/,*,%                                                       
        modulo operator reminder deta hai %

In [ ]:
10//5

2

In [ ]:
10/5

2.0

In [ ]:
10//2 # float division

5

In [ ]:
10%5

0

assignment operator =,+=,-=,%=

In [ ]:
a=10
a+=1  #short hand opertor
print(a)

11

logical operators  and ,or,not

camparision operator <,>,==,<=,>=,!=

In [ ]:
a=10
b=20
if a>b:
    print("a is greater")
else:
    print("b is greater")

b is greater

bitwise operator ^,|,&

In [ ]:
3^2

1

In [ ]:
3|2

3

In [ ]:
4&6

4

tilited operation


positive start from 0-9




and negative -1 to -9

In [ ]:
~3

-4

In [ ]:
~(-4)

3

In [ ]:
a,b=10,20
print("a",a)
print("b",b)

a 10
b 20

In [ ]:
a=b=10
print("a",a)
print("b",b)

a 10
b 10

swapping of two nos

In [ ]:
a,b=10,20
print("a before",a)
print("b before",b)
a,b=b,a
print("a after",a)
print("b after",b)

a before 10
b before 20
a after 20
b after 10

In [ ]:
a,b=10,20
print("a before",a)
print("b before",b)
temp=a
a=b
b=temp
print("a after",a)
print("b after",b)

a before 10
b before 20
a after 20
b after 10

**loops if else**

In [ ]:
no=int(input("enter a number"))
print(no)
if no>0:
    print("positive")
elif no<0:
    print("negative")
else:
  print("number is zero")

enter a number-8
-8
negative

In [ ]:
total=int(input("enter a number"))
print(total)
percentage=(total*100)/500
print(percentage)
if percentage>=60:
  print("first class")
elif 50<=percentage<60:
  print("second class")
elif 40<=percentage<50:
  print("third class")

else:
  print("better")

enter a number450
450
90.0
first class

In [ ]:
# 5 -7 lakh salary 5%tax cut jayenega 7<salaTY 10%

In [ ]:
package=int(input("enter a number"))
print(package)
if range(500000,700000):
  tax=package*0.05
  print(tax)
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)
elif range(700000,900000):
  tax=package*0.1
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)
elif range(900000,1100000):
  tax=package*0.2
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)
elif range(1100000,1300000):
  tax=package*0.3
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)
elif range(1300000,1500000):
  tax=package*0.4
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)
else:
  tax=package*0.5
  print("taxis",tax)
  inhand=package-tax
  print("amonut inhand is",inhand)

enter a number1700000
1700000
85000.0
taxis 85000.0
amonut inhand is 1615000.0

**leap year **

3 nos me se 2nd grater konsa h print karo

In [ ]:
no1=int(input("enter a number"))
no2=int(input("enter a number"))
no3=int(input("enter a number"))
if no1<no2 and no3<no2:
  print("no2 is greater")
elif  no1<no
  print(no3)
elif no1<no3 and no2<no3 or no2<no1:
  print("no3 is greater")
  print(no1)
elif no2<no1 and no3<no1 or no3<no2:
  print("no1 is greater")
  print(no2)
else:
  print("all are equal")

enter a number4
enter a number7
enter a number0
no2 is greater
0

In [ ]:
a = int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
if(a>b and a<c) or (a<b and a>c):
  print(a)
elif(b>a and b<c) or (b<a and b>c):
  print(b)
else:
  print(c)

Enter the first number: 4
Enter the second number: 6
Enter the third number: 0
4

with out if else find largest 2 no

In [ ]:
no1=int(input("enter a number"))
no2=int(input("enter a number"))
no3=int(input("enter a number"))
second_largest=no1+no2+no3-max(no1,no2,no3)-min(no1,no2,no3)
print("second_largest",second_largest)

enter a number5
enter a number0
enter a number9
second_largest 5

In [ ]:
num=int(input("enter a number"))
if num%4==0:
  print("True")
else:
  print("False")

enter a number7
False

In [ ]:

import math
pow(2,4)
pow(2,2)

4

In [ ]:
num=int(input("enter a number"))
a=pow(4,num)
if a%4==0:
  print("True")
else:
  print("False")

enter a number7
True

In [ ]:
num=int(input("enter a number"))
if(num//4)%4==0 and num>0: # perfect remender aana chahiye
  print("True")
elif num==1:
  print("true")
else:
  print("False")

enter a number7
False